# For Podman Quad
# To be placed in ~/.config/containers/systemd/
#
# Debug rendering with:
#  /usr/lib/systemd/user-generators/podman-user-generator --dryrun
#
# sudo systemctl daemon-reload
# systemctl --list-unit-files
# systemctl start assistant

[Service]
# Allows long image download time
TimeoutStartSec=900
#User=assistant
#Group=assistant

[Container]
# This is 2023.12.3 
Image = ghcr.io/home-assistant/home-assistant@sha256:128abdfe0b0a82df32a0a192032a86d113564ce2ce5ad470c47d551a53bf5db4

AddDevice=/dev/ttyUSB0
ContainerName=assistant
Environment=TZ=Europe/Copenhagen
PublishPort=8123:8123
Volume=/opt/data/services/assistant:/config:Z,rw

PodmanArgs=--group-add=keep-groups --cap-add=CAP_NET_RAW,CAP_NET_BIND_SERVICE

[Unit]
Wants=network.target
After=network-online.target

[Install]
WantedBy=default.target
