# For Podman Quad
# To be placed in ~/.config/containers/systemd/
#
# Debug rendering with:
#  /usr/lib/systemd/user-generators/podman-user-generator --dryrun
#
# sudo systemctl daemon-reload
# systemctl --list-unit-files
# systemctl start lms

[Service]
# Allows long image download time
TimeoutStartSec=900

[Container]
# This is 8.4.0-ubi9.3-10_000 
Image = docker.io/jskov/lms@sha256:3fdb957122e69caf5f4fa7bafcbae116b98dbba40c34b77eb89d3029f91f94c6

ContainerName=lms
Environment=TZ=Europe/Copenhagen
PublishPort=9000:9000
PublishPort=3483:3483/tcp
PublishPort=3483:3483/udp

#Volume=/opt/data/services/assistant:/config:Z,rw

#PodmanArgs=--group-add=keep-groups --cap-add=CAP_NET_RAW,CAP_NET_BIND_SERVICE

[Unit]
Wants=network.target
After=network-online.target

[Install]
WantedBy=default.target
