#! /bin/bash
#  backup.rc

function setup() {

    (cat <<EOF
[jotta-cli]
name=Jottacloud CLI
baseurl=https://repo.jotta.cloud/redhat
gpgcheck=1
gpgkey=https://repo.jotta.cloud/public.gpg
EOF
    ) | sudo tee /etc/yum.repos.d/JottaCLI.repo

    install_dependencies jotta-cli
    install_dependencies diceware java-25-openjdk-devel xxhash opus-tools whipper zstd
}

# Need to login with `jotta-cli login`
export JOTTAD_SYSTEMD=0
run_jottad || true
gpg-agent --daemon
gpg-agent --pinentry-timeout 6000
